/* Button colors
-------------------------------------------------------------------------*/
.cyan { background-color: #0099CC !important; }
.blue { background-color: #006699 !important; }
.green-light { background-color: #7AB51D !important; }
.green-dark { background-color: #457A1C !important; }

/* Button standard
-------------------------------------------------------------------------*/
.button { 
	border-radius: 80px 20px !important; 
	box-shadow: 0 0 20px 2px #000 !important;  
	margin: 8px !important;
}

/* Button rounded
-------------------------------------------------------------------------*/
.button-round {
	-moz-box-shadow:inset -1px -8px 9px 2px #457A1C;
	-webkit-box-shadow:inset -1px -8px 9px 2px #457A1C;
	box-shadow:inset -1px -8px 9px 2px #457A1C;	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;	
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;	
	text-indent:22.68px;
	display:inline-block;
	color:#ffffff;
	font-size:34px;
	font-weight:bold;
	font-style:normal;
	height:82px;
	line-height:82px;
	width:82px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px -3px 0px #86ae47;
	margin: 30px !important; 
}

.button-round:hover {
	border-radius: 50% 50% 50% 50%;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
	transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
	-webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
	-moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
	-o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
	-ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
}

.button-round:active {
	position:relative;
	top:1px;
}

/* Call to action button
-------------------------------------------------------------------------*/
.call_to_action { 
	padding: 0 !important; 
	position: relative !important;
	background-color: #7AB51D !important;
	left: -50% !important;
	width: 200% !important;
	box-shadow: 5px 5px 15px #000 !important;
	margin: 10px 0 !important;	
}

.call_to_action_wrapper {
	position: relative !important; 
	left: 25% !important; 
	padding: 10px 0 !important;
}

/* Small style
-------------------------------------------------------------------------*/
.small {
	-webkit-border-top-left-radius:21px;
	-moz-border-radius-topleft:21px;
	border-top-left-radius:21px;
	-webkit-border-top-right-radius:21px;
	-moz-border-radius-topright:21px;
	border-top-right-radius:21px;
	-webkit-border-bottom-right-radius:21px;
	-moz-border-radius-bottomright:21px;
	border-bottom-right-radius:21px;
	-webkit-border-bottom-left-radius:21px;
	-moz-border-radius-bottomleft:21px;
	border-bottom-left-radius:21px;	
	text-indent:12.68px;
	font-size:17px;
	height:41px;
	line-height:41px;
	width:41px;
}

