/* Background custom pattern for Icons
-------------------------------------------------------------------------*/
a.icon_bar { 
	background-image: url(../images/patterns/26.png) !important;
}

a:hover.content_link {
	background-image: url(../images/patterns/26.png) !important;
}

/* Background custom color
-------------------------------------------------------------------------*/
.get_in_touch,
.infobox {
    background-color: #0099CC !important;
}
