/* Fonts utilizzati
========================================================================*/

@import url(https://fonts.googleapis.com/css?family=Jura|Cinzel:700|La+Belle+Aurore|Press+Start+2P);

/*
font-family: 'Jura', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'La Belle Aurore', cursive;
font-family: 'Press Start 2P', cursive;
*/

/* Elementi testuali 
----------------------------------------------------------------------*/

* {
	font-family: 'Jura', Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cinzel', serif !important;
	font-weight: bold !important ;
}

blockquote { 
	font-family: 'La Belle Aurore', cursive !important ;
	font-size: 20px !important ;
	font-weight: bold !important ;
}

big { 
	font-size: 130% !important ;
}

a {
	font-weight: bold !important;
	text-shadow: 0px 0px 6px #000 !important;
	color: #fff !important ;
}

.highlight {
	border-style: dotted !important ;
	border-width: 1px !important ;
	color: #006699 !important;
	text-shadow: 0px 0px 2px #000 !important;
	background: none !important ; 
}

u {
	border-bottom: 1px dotted #006699 !important;
	text-decoration: none !important ; 
}

/* Fancy Headings
----------------------------------------------------------------------*/
.icon_top,
.icon-left-dir, 
.icon-right-dir,  
.fancy_heading_line .title {
/*	color: #7AB51D !important; */	
	text-shadow: 1px 1px 2px #006699 !important;
}

.fancy_heading_arrows {
	color: #7AB51D !important;
}

.fancy_heading_line {
	background-image: url(../images/fancy_heading_hr_green.png) !important;
	padding-bottom: 2px !important;
}

/* Slogans
----------------------------------------------------------------------*/
span.slogan {
	color: #457A1C !important;
	font-weight: bold;
}

span.slogan:before { content: "< --"; }
span.slogan:after { content: "-- >"; }

/* Dropcap
----------------------------------------------------------------------*/
.dropcap {
	background-color: #7AB51D !important ;
	border-style: solid !important ;
	border-width: 3px !important ;
	border-color: #457A1C !important ;
	font-size: 25px !important;
	font-weight: bold !important ;
	line-height: 30px !important ;
	text-shadow: -2px -2px 1px #000 !important;
	filter: drop-shadow(3px 3px 1.5px rgba(0,0,0,5.75));
}

/* Tooltip
----------------------------------------------------------------------*/
.tooltip { border-color: #006699 !important ; }

/* Pseudoelemento degli headings primari 
----------------------------------------------------------------------*/
h1:before,
h2:before,
h3:before {
	content:"GeoBe " !important;
	color: #006699 !important; 
	font-family: 'Press Start 2P', cursive !important ;
	font-size: 60% !important;
	font-weight: bold !important; 
	text-shadow: 0 0 5px #000 !important; 
}

