//Styles for Buttons

.btn-hero {
	-moz-box-shadow:inset -1px -8px 9px 2px #d9fbbe;
	-webkit-box-shadow:inset -1px -8px 9px 2px #d9fbbe;
	box-shadow:inset -1px -8px 9px 2px #d9fbbe;	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;	
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;	
	text-indent:22.68px;
	display:inline-block;
	color:#ffffff;
	font-family:Dax;
	font-size:34px;
	font-weight:bold;
	font-style:normal;
	height:82px;
	line-height:82px;
	width:82px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px -3px 0px #86ae47;
}

.btn-hero:hover {
	border-radius: 50% 50% 50% 50%;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
	transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
	-webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
	-moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
	-o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
	-ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
}

.btn-hero:active {
	position:relative;
	top:1px;
}

//-----------------------------------------------------------------------------

.btn {
	-webkit-border-radius: 0 60px 0 60px;
	-moz-border-radius: 0 60px 0 60px;
	border-radius: 0 60px 0 60px;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	font-family: Dax, Arial, Georgia;
	text-decoration: underlined;
	text-shadow: 3px 3px 5px #000;
	padding: 5px 20px 5px 0;
	margin: 30px;
  /*  -moz-box-shadow:inset 10px 3px 9px 2px #fff;
	-webkit-box-shadow:inset 3px 10px 9px 2px #fff;	// Ombra interna
	box-shadow:inset 10px 3px 9px 2px #fff;	 */ 
	-webkit-box-shadow: 2px 4px 3px #666666;
	-moz-box-shadow: 2px 4px 3px #666666;		// Ombra esterna
	box-shadow: 2px 4px 3px #666666;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
}

a.btn:before {
    content:  "";
	display: inline-block;
    height: 150px;
    width: 150px;
    margin: -40px;
    position: relative;
    top: 18px;
    left: -50px;    
    background: url(/assets/images/Logo-NoBack.svg);
    background-size: 100% 100%;  
	filter: drop-shadow(5px 5px 1.5px rgba(0,0,0,5.75));
}

.btn:hover {
	background: red;
	color: white;
	cursor: pointer;
	font-size: 30px;
}

.bla { background: #000000 } 
.blue { background: #006699 }
.bluel { background: #0099CC }
.green { background: #457A1C }
.greenl { background: #7AB51D } 