//Styles for Headings

h1, h2, h3, h4, h5, h6 { text-font: Dax, Arial; text-weight: bold; margin-bottom: 40px; }

h1 { text-align: center; text-size: 32px; }

h2 { text-align: right;	text-size: 26px; }

h3 { text-align: right;	text-size: 20px; }

h4 { text-align: right;	text-size: 17px; }

h5 { text-align: left; text-size: 12px; }

h6 { text-align: left; text-size: 8px; }

span { color: #006699; text-size: 28px; text-weight: bold; text-shadow: 0 0 5px #000; margin-left: 30px;  }

//---------------------------------------------------------------

.a {
	color: #fff;
    text-shadow: 1px 4px 6px #000, 0 0 0 #000, 1px 4px 6px #0CC;
    position: relative;
	width: 100%;
	margin-left: -100px;
	margin-right: -100px;
	border-radius: 100px 0 100px 0;
    background: url(/assets/images/scacchiera.svg);
	filter: drop-shadow(5px -12px 11px rgba(0,0,0,5.75));	
}

.a2 {
	color: #fff;
    text-shadow: 1px 4px 6px #000, 0 0 0 #000, 1px 4px 6px #0CC;
    position: relative;
	width: 100%;
	margin-left: -100px;
	margin-right: -100px;
	border-radius: 100px 0 100px 0;
    background: url(/assets/images/scacchiera-g.svg);
	filter: drop-shadow(1px -1px 1px rgba(0,0,0,5.75));	
}

h2.a {
	color: #fff;
	filter: drop-shadow(1px 2px 3px #006699);
}

.a:before {
    content:  "";
	display: inline-block;
    height: 100px;
    width: 200px;
    position: absolute;   
	top: -50%;
	left: 10px;
    background: url(/assets/images/heading_uno.svg) left center;
    background-size: 100% 100%;  
	filter: drop-shadow(5px 12px 11px rgba(0,0,0,5.75));
}

//---------------------------------------------------------------

.b {
    color: #0099CC;
	text-shadow: 1px 1px 5px #000000;
	background-color: transparent;
}

.b:before {
    content:  "";
	display: inline-block;
    height: 100px;
    width: 150px;
    margin: -40px;
    position: relative;
    top: 0px;
    left: -50px;    
    background: url(/assets/images/heading_uno.svg);
    background-size: 100% 100%;  
	filter: drop-shadow(5px 5px 1.5px rgba(0,0,0,5.75));
}

//---------------------------------------------------------------

.c {
    color: #FFFFFF;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #ccc;
	width: 100%;
}

.c:before {
    content:  "";
	display: inline-block;
    height: 100px;
    width: 150px;
    margin: -40px;
    position: relative;
    top: 0px;
    left: -50px;    
    background: url(/assets/images/heading_uno.svg);
    background-size: 100% 100%;  
	filter: drop-shadow(5px 5px 1.5px rgba(0,0,0,5.75));
} 

.d {
    color: #CCCCCC;
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
             0 3px 0 #777777, 0 4px 0 #666666;
}

//---------------------------------------------------------------

.d:before {
    content:  "";
	display: inline-block;
    height: 100px;
    width: 150px;
    margin: -40px;
    position: relative;
    top: 0px;
    left: -50px;    
    background: url(/assets/images/heading_uno.svg);
    background-size: 100% 100%;  
	filter: drop-shadow(5px 5px 1.5px rgba(0,0,0,5.75));
}

//---------------------------------------------------------------

.e {
  color: white;
  text-shadow: 0 0 5px #0099CC;
  border-bottom: 2px dotted #7AB51D;
  border-left: 7px solid #7AB51D;
  margin: 0 -15px 15px -22px;
  padding: 5px 15px;
}

//---------------------------------------------------------------

.f {
  border-bottom: 1px solid #aaa;
  margin: 15px 0;
  padding: 5px 0;
  position: relative;
}

.f:before,
.f:after {
  content: '';
  border-right: 20px solid #fff;
  border-top: 15px solid #aaa;
  bottom: -15px;
  position: absolute;
  left: 25px;
}

.f:after {
  border-top-color: #fff;
  border-right-color: transparent;
  bottom: -13px;
  left: 26px;
}

//---------------------------------------------------------------

.g {
  color: #0099CC;
  position: relative;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  background: #fff;
  margin: 0 0 15px -15px;
  padding: 5px 15px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

h3.g {
  border-color: #457A1C;
}

h4.g {
  border-color: #7AB51D;
}


.g:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  right: 15px;
  width: 70%;
  height: 10px;
  background: rgba(0, 0, 0, .7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, .7);
  transform: rotate(2deg);    
}

