//Styles for Headings

h1 {
	text-font: Dax, Arial;
	text-weight: italic;
    text-align: center;
	text-size: 24px;
	margin-bottom: 50px;
}

span {
	color: #0000FF;
	text-size: 28px;
	text-weight: bold;
	margin-left: 30px;
}

.uno {
	color: #0099CC;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #ccc;
    position: relative;
	width: 100%;
	margin-left: -100px;
	margin-right: -100px;
	border: 11px;
	border-radius: 0px 0 100px 0px;
    background: url(/assets/images/scacchiera.svg);
	filter: drop-shadow(5px -25px 11px rgba(0,0,0,5.75));
}

.uno:before {
    content:  "";
	display: inline-block;
    height: 100px;
    width: 200px;
    position: absolute;   
	bottom: -15px;
	left: 0px; 
    background: url(/assets/images/heading_uno.svg) left center;
    background-size: 100% 100%;  
	filter: drop-shadow(5px 5px 1.5px rgba(0,0,0,5.75));
}

.due {
    color: #006699;
    text-shadow: 1px 1px 5px #000000;
}

.due:before {
    content:  "";
	display: inline-block;
    height: 100px;
    width: 150px;
    margin: -40px;
    position: relative;
    top: 0px;
    left: -50px;    
    background: url(/assets/images/heading_uno.svg);
    background-size: 100% 100%;  
	filter: drop-shadow(5px 5px 1.5px rgba(0,0,0,5.75));
}

.duedue {
    color: #FFFFFF;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #ccc;
	width: 100%;
}

.backopac {
	background: #1e5799; 
	background: -moz-linear-gradient(45deg,  rgba(0, 153, 204, 0.2) 0%, rgba(0, 102, 153, 0.2) 75%);
	background: -webkit-linear-gradient(45deg,  rgba(0, 153, 204, 0.2) 0%, rgba(0, 102, 153, 0.2) 75%);
	background: linear-gradient(45deg,  rgba(0, 153, 204, 0.2) 0%, rgba(0, 102, 153, 0.2) 75%); 
}


.duedue:before {
    content:  "";
	display: inline-block;
    height: 100px;
    width: 150px;
    margin: -40px;
    position: relative;
    top: 0px;
    left: -50px;    
    background: url(/assets/images/heading_uno.svg);
    background-size: 100% 100%;  
	filter: drop-shadow(5px 5px 1.5px rgba(0,0,0,5.75));
} 

.tre {
    color: #CCCCCC;
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
             0 3px 0 #777777, 0 4px 0 #666666;
}

.tre:before {
    content:  "";
	display: inline-block;
    height: 100px;
    width: 150px;
    margin: -40px;
    position: relative;
    top: 0px;
    left: -50px;    
    background: url(/assets/images/heading_uno.svg);
    background-size: 100% 100%;  
	filter: drop-shadow(5px 5px 1.5px rgba(0,0,0,5.75));
}

.quattro {
  border-bottom: 1px dashed #aaa;
  border-left: 7px solid #aaa;    
  border-left: 7px solid rgba(0,0,0,.2);
  margin: 0 -15px 15px -22px;
  padding: 5px 15px;
}

.cinque {
  border-bottom: 1px solid #aaa;
  margin: 15px 0;
  padding: 5px 0;
  position: relative;
}

.cinque:before,
.cinque:after {
  content: '';
  border-right: 20px solid #fff;
  border-top: 15px solid #aaa;
  bottom: -15px;
  position: absolute;
  left: 25px;
}

.cinque:after {
  border-top-color: #fff;
  border-right-color: transparent;
  bottom: -13px;
  left: 26px;
}

.sei {
  position: relative;
  margin-left: -22px; /* 15px padding + 7px border ribbon shadow*/
  margin-right: -22px;
  padding: 15px;
  background: #e5e5e5;
  background: linear-gradient(#f5f5f5, #e5e5e5);
  box-shadow: 0 -1px 0 rgba(255,255,255,.8) inset;
  text-shadow: 0 1px 0 #fff;
}

.sei:before,
.sei:after {
  position: absolute;
  left: 0;
  bottom: -6px;
  content:'';
  border-top: 6px solid #555;
  border-left: 6px solid transparent;
}

.sei:before {
  border-top: 6px solid #555;
  border-right: 6px solid transparent;
  border-left: none;
  left: auto;
  right: 0;
  bottom: -6px;
}

.sette {
  position: relative;
  border-color: #eee;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  background: #fff;
  margin: 0 0 15px -15px;
  padding: 5px 15px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.sette:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  right: 15px;
  width: 70%;
  height: 10px;
  background: rgba(0, 0, 0, .7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, .7);
  transform: rotate(2deg);    
}

